[submodule "lib/stm-cpp"]
	path = lib/stm-cpp
	url = git@github.com:WojtaCZ/stmcpp.git
[submodule "lib/stmcpp"]
	path = lib/stmcpp
	url = git@github.com:WojtaCZ/stmcpp.git
[submodule "lib/tinyusb"]
	path = lib/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "lib/aurora-parser"]
	path = lib/aurora-parser
	url = ssh://git@gitlab.cern.ch:7999/vvosahlo/aurora-parser.git
